@import url("../../css/style.css");
.mainOverFileEvent{
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: auto;
    align-self: center;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 3;
}

.insideMainEvent{
    width: 40%;
    height: 60%;
    border-radius: 10px;
    display: block;
    justify-content: center!important;
    align-items: center!important;
    position: relative;
    padding: 5px;
    background-color: var(--black);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-Y: scroll;
    overflow-X: hidden;
}

.insideMainEvent::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar */
  }



.insideMainEvent form{
    position: relative;
    margin-top: 10%;
    padding: 10px 20px;
    display: block;
    width: 100%;
    flex-direction: column;
    height: 80%;
    align-items: start;
    gap: 10px;
}
.uppeer_add_event_section{
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    overflow: hidden;
}
form span{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.insideMainEvent form button{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.insideMainEvent form input{
    background-color: transparent;
    color:var(--white)!important;
    padding: 10px;
    border: 2px solid var(--white);
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}

.insideMainEvent form textarea{
    width: 100%;
    height: 50%;
    resize: none;
    outline: none;
    border: 2px solid var(--gray);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-top: 20px;
}

#event_date::-webkit-calendar-picker-indicator{
    filter: invert(1);
}


