@import url("../../css/style.css");
.mainOverFileEvent{
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: auto;
    align-self: center;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 3;
}

.insideMainEvent{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5px;
    background-color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.insideMainEvent #event_close_btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--red);
    padding: 10px;
}

.insideMainEvent #event_close_btn:hover{
    color: var(--white);
    background-color: var(--red);
    border-radius: 50%;
}

.insideMainEvent form{
    position: relative;
    margin-top: 10%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    align-items: start;
    gap: 10px;
}
form span{
    display: flex;
    gap: 10px;
}

.insideMainEvent form button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--red);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid var(--red);
    transition: all 0.5s ease;
}

.insideMainEvent form button:hover{
    color: var(--red);
    background-color: var(--white);
    border: 2px solid var(--red);
}

.insideMainEvent form textarea{
    width: 100%;
    height: 50%;
    resize: none;
    outline: none;
    border: 2px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
}

.insideMainEvent #event_name, .insideMainEvent #event_date{
    outline: none;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--red);
    color: var(--black);
}


