@import url("../../css/style.css");
@import url("../../css/classes.css");
.mainOverFileEditProfile{
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: auto;
    align-self: center;
    display: none; /*flex*/
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 3;
}

.insideMainProfileEdit{
    width: 40%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5px;
    background-color: var(--black);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
}

.insideMainProfileEdit::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar */
  }

  .myInforamtion{
    width: 100%;
    padding: 0 10px;
    height: auto, impo !important;;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }

  .myInforamtion ul{
    position: relative;
    margin-top: 120px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    text-align: start;
  }

  .myInforamtion ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--transparent_white);
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
  }


.insideMainProfileEdit #edit_profile_close_btn{
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 1;
}

#edit_profile_btn_li{
    position: relative;
    margin-bottom: 10px;
    text-align: center !important;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}




