.main_my_event{
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    text-align: start;
    position: relative;
    padding: 10px;
    background-color: var(--grade_one_white_black);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

